*.dll
*.pdb
*.lib
*.exp
*.so
*.dylib
*.obj

.sconsign*

godot-cpp/gen/
godot-cpp/bin/
godot-cpp/msvc_capture.log

project

.idea/
.vs/
.vscode/
__pycache__/
*.pyc

build/
build.bat
compile_commands.json
.clang-format
